<h1>Attractions</h1>

<% @attractions.each do |attraction| %>

  <p><%= attraction.name %></p>
  <p><%= attraction.tickets %></p>
  <% if current_user.admin %>
    <p><%= link_to "See #{attraction.name}", attraction_path(attraction) %></p>
  <% else %>
    <p><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></p> 
    <% end %> 
<% end %>

